/* Define Colors */
:root {
    --bg-color: #ffffff;
    --fg-color: #000000;
    --accent: #e26668;
    --highlight: #dbd8e3;
    --text-white: #ffffff;
    --text-black: #000000;
}

/* Products Grid */
.products-grid {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Artists Page */
.hero-banner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-image {
    width: 100%;
}

.artist-page-prompt {
    color: var(--accent);

    text-align: center;
}